* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  /* text-align: center; */
  font-family: "Outfit", sans-serif;
}

.container {
  background-color: #d6e2f0;
  width: 1200px;
  margin: 200px auto;
  padding: 30px 0;
}

.inner-container {
  text-align: center;
  background-color: #fff;
  /* width: 1440px; */
  width: 375px;
  height: 100%;
  margin: 50px auto;
  padding: 15px 15px 30px 15px;
  border-radius: 10px;
}

.content {
  padding: 10px 10px;
}
img {
  display: block;
  width: 100%;
  height: auto;
  /* height: 200px; */
  border-radius: 10px;
  margin-bottom: 10px;
}

h2 {
  margin-bottom: 20px;
  color: #1f3251;
  font-weight: 700;
}

p {
  color: #7b879d;
  font-size: 15px;
  font-weight: 400;
  padding: 0 25px;
  /* margin-bottom: 20px; */
}
